<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDesignable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>792C62FD1BB9514C00E80298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792C63161BB9514C00E80298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792C63211BB9514C00E80298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
